{% extends 'partials/base.html' %}
{% block title %} delete Income Page{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border">
                    <h3>Delete Income list</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>Are you sure want to delete?</h4>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <input class="btn btn-danger" type="submit" value="Delete" >
                        <a class="btn btn-secondary" type="submit" href="{% url 'dashboard-income' %}">Cancle</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

<style>
    h3{
        color: white;
    }
    .alert h4{
        background-color:#F8D7DA;
    }
    .border{
        width:90%;
        padding:15px;
        border:2px solid grey;
        border-radius:5px;
    }
    .btn-danger{
        width:20%;
    }
    hr{
        color: white;
    }
</style>
{% endblock %}