{% extends 'partials/base.html'  %}
{% block title %}Logout page {% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3 ">
                <h3>Logout Page</h3>
                <div class="alert alert-danger" >
                    <h4>You have been logged out</h4>
                </div>
                <a href="{% url 'user-login'%}" class="linklogin">Login</a>
            </div>
        </div>
    </div>
</div>

<style>
    .border{
        border: 2px solid grey;
        border-radius: 5px;
    }
    .border h3{
        color: black;
        background-color:white;
    }
    .alert h4{
        background-color:#F8D7DA;
    }
    .linklogin{
        background-color:white;
        color:darkblue;
    }
</style>
{%endblock %}